<div style="background-color: #f7f7f7; padding: 10px;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px;">
        <h2>Verify Email</h2>

        <p>Dear {{ username }},</p>
        <p>Thank you for registering with NearbyFeed. Please click on the button below to verify your email address and complete the registration process.</p>
        <div style="text-align: center;">
            <a href="{{ verifyEmailLink }}" style="background-color: #3498db; color: #fff; padding: 10px 20px; text-decoration: none;">Verify Email</a>
        </div>
        <p>If you did not sign up for NearbyFeed, please ignore this email.</p>
        
        <p>Best regards,</p>
        <p>NearbyFeed Team</p>
    </div>
</div>
